/* Общий сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

/* Шапка */
header {
    background-color: #0077cc;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

/* Основной контейнер */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

/* Меню с таблицей */
#meny {
    flex: 1 1 25%;
    max-width: 300px;
}

#meny table {
    width: 100%;
    border-spacing: 0;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* sisu */
#sisu {
    flex: 1 1 70%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.details p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.delete-btn {
    display: inline-block;
    color: #fff;
    background: #e74c3c;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background: #c0392b;
}


form {
    margin-bottom: 10px;
}

form {
    margin: 10px auto;
}

form input, form textarea{
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
form input[varv] {
    margin-top: 10px;
}
form button {
    padding: 10px;
    margin: 10px;
}