/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Добавлено пространство между блоками */
}

.main-content {
    flex: 3;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Стили для меню */
.menu h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #0056b3;
}

/* Стили для анекдотов */
.anecdote {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

ul li a:hover {
    color: #0056b3;
}

/* Адаптивность */

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        margin-bottom: 20px;
    }

    .menu {
        width: 100%;
        margin-top: 20px;
    }

    header h1 {
        font-size: 24px;
    }

    .menu h3 {
        font-size: 16px;
    }

    .menu ul li a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }

    .menu h3 {
        font-size: 14px;
    }

    .menu ul li a {
        font-size: 12px;
    }

    .anecdote {
        padding: 10px;
    }
}

#button {
    margin: 40px;
    width: 200px;
    height: 50px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;

}

form {
    margin-bottom: 10px;
}

form {
    margin: 10px auto;
}

form input, form textarea{
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
form input[varv] {
    margin-top: 10px;
}
form button {
    padding: 10px;
    margin: 10px;
}
